!gradle-wrapper.jar
!src/**/build/
**/build/
*.bak
*.class
*.ctxt
*.ear
*.iws
*.jar
*.launch
*.lcov
*.log
*.nar
*.pid
*.pid.lock
*.pydevproject
*.rar
*.seed
*.swp
*.tar.gz
*.tgz
*.tmp
*.tsbuildinfo
*.war
*.zip
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.cache
.cache-main
.cache/
.com.apple.timemachine.donotpresent
.cproject
.data/
.dynamodb/
.env
.env.*
.env.test
.eslintcache
.externalToolBuilders/
.factorypath
.fseventsd
.fusebox/
.gradle
.gradletasknamecache
.grunt
.idea
.idea/**/**
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.java-version
.jenv-version
.loadpath
.lock-wscript
.metadata
.mtj.tmp/
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.recommenders
.recommenders/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.scala_dependencies
.serverless/
.settings/
.springBeans
.target
.tern-port
.tern-project
.texlipse
.vscode-test
.vuepress/dist
.worksheet
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/node_modules/
Icon
Network Trash Folder
Temporary Items
atlassian-ide-plugin.xml
bin/
bower_components
build/Release
classes/
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
coverage/**
crashlytics-build.properties
crashlytics.properties
cwallet.sso.lck
data/**
deploy/
dist
fabric.properties
gradle-app.setting
hs_err_pid*
javadoc/
jspm_packages/
lerna-debug.log*
lib-cov
local.properties
logs
node_modules/
npm-debug.log*
out
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
report/**
temp/
tmp/
typings/
web_modules/
yarn-debug.log*
yarn-error.log*
